.main-content{
  position: relative;
}

.main-content-bg{
  height: 100%;
  width: 100%;
}

.main-content-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fireflys {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.firefly {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before,
.firefly::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: rgb(211, 208, 22);
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}
.firefly:nth-child(1),
.firefly:nth-child(16)  {
  animation-name: move1;
}
.firefly:nth-child(1)::before,
.firefly:nth-child(16)::before  {
  animation-duration: 15s;
}
.firefly:nth-child(1)::after,
.firefly:nth-child(16)::after  {
  animation-duration: 15s, 7854ms;
  animation-delay: 0ms, 751ms;
}
@keyframes move1 {
  0% {
    transform: translateX(35vw) translateY(8vh) scale(0.66);
  }
  4.7619% {
    transform: translateX(25vw) translateY(-1vh) scale(0.46);
  }
  9.52381% {
    transform: translateX(35vw) translateY(37vh) scale(0.33);
  }
  14.28571% {
    transform: translateX(-17vw) translateY(36vh) scale(0.97);
  }
  19.04762% {
    transform: translateX(35vw) translateY(-9vh) scale(0.79);
  }
  23.80952% {
    transform: translateX(-24vw) translateY(-31vh) scale(0.35);
  }
  28.57143% {
    transform: translateX(-30vw) translateY(46vh) scale(0.93);
  }
  33.33333% {
    transform: translateX(8vw) translateY(7vh) scale(0.46);
  }
  38.09524% {
    transform: translateX(21vw) translateY(-24vh) scale(0.9);
  }
  42.85714% {
    transform: translateX(-19vw) translateY(18vh) scale(0.84);
  }
  47.61905% {
    transform: translateX(-42vw) translateY(43vh) scale(0.37);
  }
  52.38095% {
    transform: translateX(19vw) translateY(43vh) scale(0.44);
  }
  57.14286% {
    transform: translateX(41vw) translateY(-41vh) scale(0.74);
  }
  61.90476% {
    transform: translateX(-11vw) translateY(-20vh) scale(0.68);
  }
  66.66667% {
    transform: translateX(-20vw) translateY(-11vh) scale(0.63);
  }
  71.42857% {
    transform: translateX(-23vw) translateY(-12vh) scale(0.76);
  }
  76.19048% {
    transform: translateX(-6vw) translateY(44vh) scale(0.68);
  }
  80.95238% {
    transform: translateX(34vw) translateY(-25vh) scale(1);
  }
  85.71429% {
    transform: translateX(49vw) translateY(15vh) scale(0.92);
  }
  90.47619% {
    transform: translateX(-29vw) translateY(-19vh) scale(0.97);
  }
  95.2381% {
    transform: translateX(-19vw) translateY(7vh) scale(0.27);
  }
  100% {
    transform: translateX(15vw) translateY(16vh) scale(0.85);
  }
}
.firefly:nth-child(2),
.firefly:nth-child(17) {
  animation-name: move2;
}
.firefly:nth-child(2)::before,
.firefly:nth-child(17)::before {
  animation-duration: 16s;
}
.firefly:nth-child(2)::after,
.firefly:nth-child(17)::after {
  animation-duration: 16s, 9422ms;
  animation-delay: 0ms, 2461ms;
}
@keyframes move2 {
  0% {
    transform: translateX(-48vw) translateY(42vh) scale(0.92);
  }
  4.54545% {
    transform: translateX(15vw) translateY(4vh) scale(0.26);
  }
  9.09091% {
    transform: translateX(43vw) translateY(-34vh) scale(0.54);
  }
  13.63636% {
    transform: translateX(-39vw) translateY(35vh) scale(0.78);
  }
  18.18182% {
    transform: translateX(20vw) translateY(-17vh) scale(0.97);
  }
  22.72727% {
    transform: translateX(-28vw) translateY(-13vh) scale(0.97);
  }
  27.27273% {
    transform: translateX(10vw) translateY(22vh) scale(0.87);
  }
  31.81818% {
    transform: translateX(1vw) translateY(-26vh) scale(0.98);
  }
  36.36364% {
    transform: translateX(-9vw) translateY(-43vh) scale(0.43);
  }
  40.90909% {
    transform: translateX(-11vw) translateY(-30vh) scale(0.26);
  }
  45.45455% {
    transform: translateX(-10vw) translateY(-8vh) scale(0.28);
  }
  50% {
    transform: translateX(-36vw) translateY(-5vh) scale(0.35);
  }
  54.54545% {
    transform: translateX(-10vw) translateY(-15vh) scale(0.88);
  }
  59.09091% {
    transform: translateX(-6vw) translateY(-2vh) scale(0.42);
  }
  63.63636% {
    transform: translateX(-1vw) translateY(0vh) scale(0.93);
  }
  68.18182% {
    transform: translateX(-47vw) translateY(30vh) scale(0.86);
  }
  72.72727% {
    transform: translateX(6vw) translateY(45vh) scale(0.4);
  }
  77.27273% {
    transform: translateX(39vw) translateY(37vh) scale(0.37);
  }
  81.81818% {
    transform: translateX(44vw) translateY(21vh) scale(0.75);
  }
  86.36364% {
    transform: translateX(3vw) translateY(41vh) scale(0.46);
  }
  90.90909% {
    transform: translateX(-41vw) translateY(29vh) scale(0.99);
  }
  95.45455% {
    transform: translateX(-13vw) translateY(-15vh) scale(0.78);
  }
  100% {
    transform: translateX(-43vw) translateY(-43vh) scale(0.31);
  }
}
.firefly:nth-child(3),
.firefly:nth-child(18)  {
  animation-name: move3;
}
.firefly:nth-child(3)::before,
.firefly:nth-child(18)::before  {
  animation-duration: 10s;
}
.firefly:nth-child(3)::after,
.firefly:nth-child(18)::after  {
  animation-duration: 10s, 9339ms;
  animation-delay: 0ms, 5625ms;
}
@keyframes move3 {
  0% {
    transform: translateX(-27vw) translateY(-18vh) scale(0.54);
  }
  4.7619% {
    transform: translateX(17vw) translateY(-10vh) scale(0.39);
  }
  9.52381% {
    transform: translateX(18vw) translateY(14vh) scale(0.62);
  }
  14.28571% {
    transform: translateX(-7vw) translateY(7vh) scale(1);
  }
  19.04762% {
    transform: translateX(-45vw) translateY(43vh) scale(0.63);
  }
  23.80952% {
    transform: translateX(29vw) translateY(27vh) scale(0.92);
  }
  28.57143% {
    transform: translateX(-46vw) translateY(-1vh) scale(0.53);
  }
  33.33333% {
    transform: translateX(-13vw) translateY(1vh) scale(0.74);
  }
  38.09524% {
    transform: translateX(-1vw) translateY(-7vh) scale(0.45);
  }
  42.85714% {
    transform: translateX(39vw) translateY(-17vh) scale(0.52);
  }
  47.61905% {
    transform: translateX(-29vw) translateY(7vh) scale(0.5);
  }
  52.38095% {
    transform: translateX(4vw) translateY(47vh) scale(0.32);
  }
  57.14286% {
    transform: translateX(-8vw) translateY(-34vh) scale(0.5);
  }
  61.90476% {
    transform: translateX(-4vw) translateY(23vh) scale(0.46);
  }
  66.66667% {
    transform: translateX(-9vw) translateY(-17vh) scale(0.76);
  }
  71.42857% {
    transform: translateX(47vw) translateY(-40vh) scale(0.9);
  }
  76.19048% {
    transform: translateX(-40vw) translateY(39vh) scale(0.61);
  }
  80.95238% {
    transform: translateX(48vw) translateY(-39vh) scale(0.59);
  }
  85.71429% {
    transform: translateX(16vw) translateY(16vh) scale(0.85);
  }
  90.47619% {
    transform: translateX(-21vw) translateY(41vh) scale(0.85);
  }
  95.2381% {
    transform: translateX(30vw) translateY(48vh) scale(0.56);
  }
  100% {
    transform: translateX(22vw) translateY(44vh) scale(0.57);
  }
}
.firefly:nth-child(4),
.firefly:nth-child(19)  {
  animation-name: move4;
}
.firefly:nth-child(4)::before,
.firefly:nth-child(19)::before  {
  animation-duration: 18s;
}
.firefly:nth-child(4)::after,
.firefly:nth-child(19)::after  {
  animation-duration: 18s, 10765ms;
  animation-delay: 0ms, 6286ms;
}
@keyframes move4 {
  0% {
    transform: translateX(-41vw) translateY(-41vh) scale(0.51);
  }
  5.88235% {
    transform: translateX(14vw) translateY(29vh) scale(0.4);
  }
  11.76471% {
    transform: translateX(-44vw) translateY(-24vh) scale(0.65);
  }
  17.64706% {
    transform: translateX(-39vw) translateY(35vh) scale(0.52);
  }
  23.52941% {
    transform: translateX(9vw) translateY(-48vh) scale(0.97);
  }
  29.41176% {
    transform: translateX(0vw) translateY(34vh) scale(0.53);
  }
  35.29412% {
    transform: translateX(20vw) translateY(14vh) scale(0.98);
  }
  41.17647% {
    transform: translateX(35vw) translateY(-6vh) scale(0.61);
  }
  47.05882% {
    transform: translateX(47vw) translateY(33vh) scale(0.64);
  }
  52.94118% {
    transform: translateX(-5vw) translateY(-41vh) scale(0.44);
  }
  58.82353% {
    transform: translateX(-3vw) translateY(-45vh) scale(0.61);
  }
  64.70588% {
    transform: translateX(-47vw) translateY(-29vh) scale(0.7);
  }
  70.58824% {
    transform: translateX(-4vw) translateY(46vh) scale(0.3);
  }
  76.47059% {
    transform: translateX(1vw) translateY(46vh) scale(0.54);
  }
  82.35294% {
    transform: translateX(39vw) translateY(50vh) scale(0.59);
  }
  88.23529% {
    transform: translateX(-28vw) translateY(39vh) scale(0.43);
  }
  94.11765% {
    transform: translateX(41vw) translateY(-42vh) scale(0.91);
  }
  100% {
    transform: translateX(37vw) translateY(46vh) scale(0.64);
  }
}
.firefly:nth-child(5) ,
.firefly:nth-child(20) {
  animation-name: move5;
}
.firefly:nth-child(5)::before ,
.firefly:nth-child(20)::before {
  animation-duration: 16s;
}
.firefly:nth-child(5)::after ,
.firefly:nth-child(20)::after {
  animation-duration: 16s, 7563ms;
  animation-delay: 0ms, 6240ms;
}
@keyframes move5 {
  0% {
    transform: translateX(-49vw) translateY(-23vh) scale(0.72);
  }
  4.54545% {
    transform: translateX(16vw) translateY(27vh) scale(0.35);
  }
  9.09091% {
    transform: translateX(28vw) translateY(9vh) scale(0.75);
  }
  13.63636% {
    transform: translateX(24vw) translateY(20vh) scale(0.46);
  }
  18.18182% {
    transform: translateX(-23vw) translateY(-35vh) scale(0.57);
  }
  22.72727% {
    transform: translateX(-38vw) translateY(27vh) scale(0.72);
  }
  27.27273% {
    transform: translateX(-6vw) translateY(-14vh) scale(0.56);
  }
  31.81818% {
    transform: translateX(10vw) translateY(-19vh) scale(0.82);
  }
  36.36364% {
    transform: translateX(-42vw) translateY(47vh) scale(0.36);
  }
  40.90909% {
    transform: translateX(-7vw) translateY(24vh) scale(0.7);
  }
  45.45455% {
    transform: translateX(-49vw) translateY(-9vh) scale(0.8);
  }
  50% {
    transform: translateX(13vw) translateY(-48vh) scale(0.41);
  }
  54.54545% {
    transform: translateX(48vw) translateY(-39vh) scale(0.84);
  }
  59.09091% {
    transform: translateX(39vw) translateY(20vh) scale(0.6);
  }
  63.63636% {
    transform: translateX(6vw) translateY(-14vh) scale(0.53);
  }
  68.18182% {
    transform: translateX(22vw) translateY(9vh) scale(0.33);
  }
  72.72727% {
    transform: translateX(45vw) translateY(-24vh) scale(0.78);
  }
  77.27273% {
    transform: translateX(-12vw) translateY(-41vh) scale(0.27);
  }
  81.81818% {
    transform: translateX(7vw) translateY(-3vh) scale(0.94);
  }
  86.36364% {
    transform: translateX(39vw) translateY(38vh) scale(0.82);
  }
  90.90909% {
    transform: translateX(9vw) translateY(-5vh) scale(0.65);
  }
  95.45455% {
    transform: translateX(-40vw) translateY(24vh) scale(0.52);
  }
  100% {
    transform: translateX(-14vw) translateY(-26vh) scale(0.9);
  }
}
.firefly:nth-child(6) ,
.firefly:nth-child(21) {
  animation-name: move6;
}
.firefly:nth-child(6)::before ,
.firefly:nth-child(21)::before {
  animation-duration: 18s;
}
.firefly:nth-child(6)::after ,
.firefly:nth-child(21)::after {
  animation-duration: 18s, 5687ms;
  animation-delay: 0ms, 1421ms;
}
@keyframes move6 {
  0% {
    transform: translateX(-16vw) translateY(-25vh) scale(0.86);
  }
  3.7037% {
    transform: translateX(-34vw) translateY(-35vh) scale(1);
  }
  7.40741% {
    transform: translateX(33vw) translateY(-31vh) scale(0.49);
  }
  11.11111% {
    transform: translateX(28vw) translateY(0vh) scale(0.36);
  }
  14.81481% {
    transform: translateX(42vw) translateY(-31vh) scale(0.43);
  }
  18.51852% {
    transform: translateX(-38vw) translateY(16vh) scale(0.46);
  }
  22.22222% {
    transform: translateX(-1vw) translateY(-18vh) scale(0.93);
  }
  25.92593% {
    transform: translateX(-29vw) translateY(35vh) scale(0.88);
  }
  29.62963% {
    transform: translateX(-24vw) translateY(-36vh) scale(0.81);
  }
  33.33333% {
    transform: translateX(-40vw) translateY(37vh) scale(0.32);
  }
  37.03704% {
    transform: translateX(41vw) translateY(-31vh) scale(0.86);
  }
  40.74074% {
    transform: translateX(-42vw) translateY(42vh) scale(0.77);
  }
  44.44444% {
    transform: translateX(-29vw) translateY(37vh) scale(0.38);
  }
  48.14815% {
    transform: translateX(33vw) translateY(28vh) scale(0.51);
  }
  51.85185% {
    transform: translateX(43vw) translateY(44vh) scale(0.51);
  }
  55.55556% {
    transform: translateX(15vw) translateY(38vh) scale(0.83);
  }
  59.25926% {
    transform: translateX(3vw) translateY(-49vh) scale(0.51);
  }
  62.96296% {
    transform: translateX(14vw) translateY(4vh) scale(0.31);
  }
  66.66667% {
    transform: translateX(31vw) translateY(-44vh) scale(0.94);
  }
  70.37037% {
    transform: translateX(-12vw) translateY(-49vh) scale(0.58);
  }
  74.07407% {
    transform: translateX(-37vw) translateY(-25vh) scale(0.97);
  }
  77.77778% {
    transform: translateX(41vw) translateY(-11vh) scale(0.72);
  }
  81.48148% {
    transform: translateX(-41vw) translateY(-16vh) scale(0.92);
  }
  85.18519% {
    transform: translateX(-5vw) translateY(-7vh) scale(0.64);
  }
  88.88889% {
    transform: translateX(25vw) translateY(6vh) scale(0.31);
  }
  92.59259% {
    transform: translateX(-27vw) translateY(15vh) scale(0.79);
  }
  96.2963% {
    transform: translateX(2vw) translateY(-10vh) scale(0.28);
  }
  100% {
    transform: translateX(-15vw) translateY(8vh) scale(0.57);
  }
}
.firefly:nth-child(7) ,
.firefly:nth-child(22) {
  animation-name: move7;
}
.firefly:nth-child(7)::before ,
.firefly:nth-child(22)::before {
  animation-duration: 10s;
}
.firefly:nth-child(7)::after ,
.firefly:nth-child(22)::after {
  animation-duration: 10s, 10382ms;
  animation-delay: 0ms, 8104ms;
}
@keyframes move7 {
  0% {
    transform: translateX(46vw) translateY(-3vh) scale(0.7);
  }
  3.57143% {
    transform: translateX(15vw) translateY(-5vh) scale(0.93);
  }
  7.14286% {
    transform: translateX(-4vw) translateY(-48vh) scale(0.27);
  }
  10.71429% {
    transform: translateX(-44vw) translateY(-19vh) scale(0.54);
  }
  14.28571% {
    transform: translateX(-42vw) translateY(-38vh) scale(0.26);
  }
  17.85714% {
    transform: translateX(-17vw) translateY(-24vh) scale(0.5);
  }
  21.42857% {
    transform: translateX(46vw) translateY(-16vh) scale(0.65);
  }
  25% {
    transform: translateX(20vw) translateY(40vh) scale(0.99);
  }
  28.57143% {
    transform: translateX(45vw) translateY(0vh) scale(0.53);
  }
  32.14286% {
    transform: translateX(-20vw) translateY(19vh) scale(1);
  }
  35.71429% {
    transform: translateX(-2vw) translateY(-11vh) scale(0.35);
  }
  39.28571% {
    transform: translateX(-1vw) translateY(13vh) scale(0.92);
  }
  42.85714% {
    transform: translateX(2vw) translateY(-18vh) scale(0.66);
  }
  46.42857% {
    transform: translateX(27vw) translateY(1vh) scale(0.98);
  }
  50% {
    transform: translateX(-44vw) translateY(21vh) scale(0.69);
  }
  53.57143% {
    transform: translateX(27vw) translateY(9vh) scale(0.55);
  }
  57.14286% {
    transform: translateX(-32vw) translateY(-34vh) scale(0.64);
  }
  60.71429% {
    transform: translateX(41vw) translateY(-19vh) scale(0.59);
  }
  64.28571% {
    transform: translateX(22vw) translateY(-45vh) scale(0.92);
  }
  67.85714% {
    transform: translateX(-34vw) translateY(25vh) scale(0.31);
  }
  71.42857% {
    transform: translateX(31vw) translateY(-45vh) scale(0.85);
  }
  75% {
    transform: translateX(35vw) translateY(1vh) scale(0.29);
  }
  78.57143% {
    transform: translateX(35vw) translateY(44vh) scale(0.85);
  }
  82.14286% {
    transform: translateX(-46vw) translateY(30vh) scale(0.94);
  }
  85.71429% {
    transform: translateX(-40vw) translateY(-22vh) scale(0.79);
  }
  89.28571% {
    transform: translateX(-3vw) translateY(19vh) scale(0.78);
  }
  92.85714% {
    transform: translateX(34vw) translateY(-27vh) scale(0.98);
  }
  96.42857% {
    transform: translateX(28vw) translateY(-40vh) scale(0.79);
  }
  100% {
    transform: translateX(21vw) translateY(-42vh) scale(0.48);
  }
}
.firefly:nth-child(8) ,
.firefly:nth-child(23) {
  animation-name: move8;
}

.firefly:nth-child(8)::before ,
.firefly:nth-child(23)::before {
  animation-duration: 14s;
}

.firefly:nth-child(8)::after ,
.firefly:nth-child(23)::after {
  animation-duration: 14s, 8944ms;
  animation-delay: 0ms, 750ms;
}

@keyframes move8 {
  0% {
    transform: translateX(-34vw) translateY(17vh) scale(0.94);
  }
  4.54545% {
    transform: translateX(-2vw) translateY(-6vh) scale(0.56);
  }
  9.09091% {
    transform: translateX(6vw) translateY(10vh) scale(0.7);
  }
  13.63636% {
    transform: translateX(22vw) translateY(-27vh) scale(0.5);
  }
  18.18182% {
    transform: translateX(7vw) translateY(3vh) scale(0.44);
  }
  22.72727% {
    transform: translateX(-27vw) translateY(-10vh) scale(1);
  }
  27.27273% {
    transform: translateX(32vw) translateY(30vh) scale(0.89);
  }
  31.81818% {
    transform: translateX(15vw) translateY(36vh) scale(0.84);
  }
  36.36364% {
    transform: translateX(-26vw) translateY(-1vh) scale(0.47);
  }
  40.90909% {
    transform: translateX(48vw) translateY(-31vh) scale(0.74);
  }
  45.45455% {
    transform: translateX(-10vw) translateY(15vh) scale(0.84);
  }
  50% {
    transform: translateX(-24vw) translateY(35vh) scale(0.86);
  }
  54.54545% {
    transform: translateX(-47vw) translateY(21vh) scale(0.63);
  }
  59.09091% {
    transform: translateX(-43vw) translateY(38vh) scale(0.77);
  }
  63.63636% {
    transform: translateX(-44vw) translateY(22vh) scale(0.39);
  }
  68.18182% {
    transform: translateX(37vw) translateY(43vh) scale(0.26);
  }
  72.72727% {
    transform: translateX(2vw) translateY(-42vh) scale(0.27);
  }
  77.27273% {
    transform: translateX(-22vw) translateY(-33vh) scale(0.68);
  }
  81.81818% {
    transform: translateX(-42vw) translateY(-24vh) scale(0.26);
  }
  86.36364% {
    transform: translateX(-20vw) translateY(38vh) scale(0.76);
  }
  90.90909% {
    transform: translateX(5vw) translateY(28vh) scale(0.82);
  }
  95.45455% {
    transform: translateX(-37vw) translateY(15vh) scale(0.59);
  }
  100% {
    transform: translateX(-46vw) translateY(4vh) scale(0.63);
  }
}

.firefly:nth-child(9) {
  animation-name: move9;
}

.firefly:nth-child(9)::before {
  animation-duration: 12s;
}

.firefly:nth-child(9)::after {
  animation-duration: 12s, 7959ms;
  animation-delay: 0ms, 3890ms;
}

@keyframes move9 {
  0% {
    transform: translateX(9vw) translateY(3vh) scale(0.75);
  }
  3.7037% {
    transform: translateX(-26vw) translateY(49vh) scale(0.9);
  }
  7.40741% {
    transform: translateX(-36vw) translateY(30vh) scale(0.78);
  }
  11.11111% {
    transform: translateX(-35vw) translateY(49vh) scale(0.43);
  }
  14.81481% {
    transform: translateX(11vw) translateY(2vh) scale(0.45);
  }
  18.51852% {
    transform: translateX(42vw) translateY(-30vh) scale(0.72);
  }
  22.22222% {
    transform: translateX(-35vw) translateY(-25vh) scale(0.27);
  }
  25.92593% {
    transform: translateX(-24vw) translateY(-44vh) scale(0.68);
  }
  29.62963% {
    transform: translateX(-23vw) translateY(27vh) scale(0.48);
  }
  33.33333% {
    transform: translateX(15vw) translateY(41vh) scale(0.85);
  }
  37.03704% {
    transform: translateX(35vw) translateY(12vh) scale(0.37);
  }
  40.74074% {
    transform: translateX(4vw) translateY(21vh) scale(0.71);
  }
  44.44444% {
    transform: translateX(42vw) translateY(-10vh) scale(0.34);
  }
  48.14815% {
    transform: translateX(25vw) translateY(-14vh) scale(0.63);
  }
  51.85185% {
    transform: translateX(-45vw) translateY(-39vh) scale(0.48);
  }
  55.55556% {
    transform: translateX(16vw) translateY(45vh) scale(0.84);
  }
  59.25926% {
    transform: translateX(47vw) translateY(-41vh) scale(0.66);
  }
  62.96296% {
    transform: translateX(-40vw) translateY(-37vh) scale(0.69);
  }
  66.66667% {
    transform: translateX(11vw) translateY(22vh) scale(0.45);
  }
  70.37037% {
    transform: translateX(-28vw) translateY(38vh) scale(0.82);
  }
  74.07407% {
    transform: translateX(6vw) translateY(12vh) scale(0.36);
  }
  77.77778% {
    transform: translateX(-7vw) translateY(24vh) scale(0.36);
  }
  81.48148% {
    transform: translateX(-30vw) translateY(-42vh) scale(0.64);
  }
  85.18519% {
    transform: translateX(48vw) translateY(-3vh) scale(0.95);
  }
  88.88889% {
    transform: translateX(8vw) translateY(-7vh) scale(1);
  }
  92.59259% {
    transform: translateX(-11vw) translateY(6vh) scale(0.82);
  }
  96.2963% {
    transform: translateX(46vw) translateY(27vh) scale(0.46);
  }
  100% {
    transform: translateX(-16vw) translateY(34vh) scale(0.65);
  }
}

.firefly:nth-child(10) {
  animation-name: move10;
}

.firefly:nth-child(10)::before {
  animation-duration: 11s;
}

.firefly:nth-child(10)::after {
  animation-duration: 11s, 9359ms;
  animation-delay: 0ms, 7880ms;
}

@keyframes move10 {
  0% {
    transform: translateX(42vw) translateY(16vh) scale(0.67);
  }
  3.7037% {
    transform: translateX(22vw) translateY(40vh) scale(0.98);
  }
  7.40741% {
    transform: translateX(35vw) translateY(34vh) scale(0.88);
  }
  11.11111% {
    transform: translateX(-35vw) translateY(45vh) scale(0.45);
  }
  14.81481% {
    transform: translateX(-4vw) translateY(7vh) scale(0.71);
  }
  18.51852% {
    transform: translateX(-29vw) translateY(34vh) scale(0.49);
  }
  22.22222% {
    transform: translateX(-29vw) translateY(-24vh) scale(0.26);
  }
  25.92593% {
    transform: translateX(10vw) translateY(39vh) scale(0.89);
  }
  29.62963% {
    transform: translateX(46vw) translateY(42vh) scale(0.34);
  }
  33.33333% {
    transform: translateX(-37vw) translateY(-21vh) scale(0.86);
  }
  37.03704% {
    transform: translateX(-35vw) translateY(-24vh) scale(0.82);
  }
  40.74074% {
    transform: translateX(-7vw) translateY(33vh) scale(0.37);
  }
  44.44444% {
    transform: translateX(31vw) translateY(31vh) scale(0.46);
  }
  48.14815% {
    transform: translateX(-3vw) translateY(-33vh) scale(0.47);
  }
  51.85185% {
    transform: translateX(-47vw) translateY(36vh) scale(0.68);
  }
  55.55556% {
    transform: translateX(-9vw) translateY(4vh) scale(0.61);
  }
  59.25926% {
    transform: translateX(-20vw) translateY(-40vh) scale(0.59);
  }
  62.96296% {
    transform: translateX(-4vw) translateY(14vh) scale(0.41);
  }
  66.66667% {
    transform: translateX(39vw) translateY(28vh) scale(0.45);
  }
  70.37037% {
    transform: translateX(31vw) translateY(-46vh) scale(0.62);
  }
  74.07407% {
    transform: translateX(-42vw) translateY(43vh) scale(0.36);
  }
  77.77778% {
    transform: translateX(6vw) translateY(47vh) scale(0.87);
  }
  81.48148% {
    transform: translateX(-9vw) translateY(-41vh) scale(0.41);
  }
  85.18519% {
    transform: translateX(-5vw) translateY(-1vh) scale(0.79);
  }
  88.88889% {
    transform: translateX(27vw) translateY(-5vh) scale(0.77);
  }
  92.59259% {
    transform: translateX(30vw) translateY(24vh) scale(0.94);
  }
  96.2963% {
    transform: translateX(-19vw) translateY(29vh) scale(0.53);
  }
  100% {
    transform: translateX(39vw) translateY(45vh) scale(0.64);
  }
}

.firefly:nth-child(11) {
  animation-name: move11;
}

.firefly:nth-child(11)::before {
  animation-duration: 14s;
}

.firefly:nth-child(11)::after {
  animation-duration: 14s, 9715ms;
  animation-delay: 0ms, 7110ms;
}

@keyframes move11 {
  0% {
    transform: translateX(-27vw) translateY(-22vh) scale(0.79);
  }
  5% {
    transform: translateX(-38vw) translateY(-49vh) scale(0.51);
  }
  10% {
    transform: translateX(45vw) translateY(25vh) scale(0.28);
  }
  15% {
    transform: translateX(5vw) translateY(-34vh) scale(0.44);
  }
  20% {
    transform: translateX(-16vw) translateY(-13vh) scale(0.51);
  }
  25% {
    transform: translateX(12vw) translateY(4vh) scale(0.88);
  }
  30% {
    transform: translateX(-43vw) translateY(16vh) scale(0.38);
  }
  35% {
    transform: translateX(4vw) translateY(46vh) scale(0.55);
  }
  40% {
    transform: translateX(-20vw) translateY(-27vh) scale(0.65);
  }
  45% {
    transform: translateX(13vw) translateY(39vh) scale(0.91);
  }
  50% {
    transform: translateX(17vw) translateY(22vh) scale(0.46);
  }
  55% {
    transform: translateX(-21vw) translateY(19vh) scale(0.93);
  }
  60% {
    transform: translateX(38vw) translateY(-34vh) scale(0.68);
  }
  65% {
    transform: translateX(-2vw) translateY(-2vh) scale(0.78);
  }
  70% {
    transform: translateX(19vw) translateY(50vh) scale(0.77);
  }
  75% {
    transform: translateX(-34vw) translateY(2vh) scale(0.77);
  }
  80% {
    transform: translateX(-34vw) translateY(-21vh) scale(0.83);
  }
  85% {
    transform: translateX(-3vw) translateY(-1vh) scale(0.4);
  }
  90% {
    transform: translateX(15vw) translateY(28vh) scale(0.47);
  }
  95% {
    transform: translateX(-8vw) translateY(-30vh) scale(0.45);
  }
  100% {
    transform: translateX(44vw) translateY(-37vh) scale(0.68);
  }
}

.firefly:nth-child(12) {
  animation-name: move12;
}

.firefly:nth-child(12)::before {
  animation-duration: 16s;
}

.firefly:nth-child(12)::after {
  animation-duration: 16s, 10996ms;
  animation-delay: 0ms, 7805ms;
}

@keyframes move12 {
  0% {
    transform: translateX(-36vw) translateY(-17vh) scale(0.32);
  }
  5.88235% {
    transform: translateX(-18vw) translateY(-41vh) scale(0.81);
  }
  11.76471% {
    transform: translateX(-13vw) translateY(-17vh) scale(0.81);
  }
  17.64706% {
    transform: translateX(-28vw) translateY(15vh) scale(0.86);
  }
  23.52941% {
    transform: translateX(33vw) translateY(-2vh) scale(0.47);
  }
  29.41176% {
    transform: translateX(22vw) translateY(1vh) scale(0.43);
  }
  35.29412% {
    transform: translateX(-26vw) translateY(-34vh) scale(0.56);
  }
  41.17647% {
    transform: translateX(-40vw) translateY(43vh) scale(0.44);
  }
  47.05882% {
    transform: translateX(45vw) translateY(-35vh) scale(0.41);
  }
  52.94118% {
    transform: translateX(-17vw) translateY(39vh) scale(0.97);
  }
  58.82353% {
    transform: translateX(5vw) translateY(-47vh) scale(1);
  }
  64.70588% {
    transform: translateX(-21vw) translateY(-39vh) scale(0.34);
  }
  70.58824% {
    transform: translateX(8vw) translateY(-3vh) scale(0.54);
  }
  76.47059% {
    transform: translateX(-18vw) translateY(-22vh) scale(0.74);
  }
  82.35294% {
    transform: translateX(-32vw) translateY(19vh) scale(0.9);
  }
  88.23529% {
    transform: translateX(-20vw) translateY(32vh) scale(0.51);
  }
  94.11765% {
    transform: translateX(38vw) translateY(39vh) scale(0.73);
  }
  100% {
    transform: translateX(23vw) translateY(-45vh) scale(0.97);
  }
}

.firefly:nth-child(13) {
  animation-name: move13;
}

.firefly:nth-child(13)::before {
  animation-duration: 15s;
}

.firefly:nth-child(13)::after {
  animation-duration: 15s, 8302ms;
  animation-delay: 0ms, 3795ms;
}

@keyframes move13 {
  0% {
    transform: translateX(47vw) translateY(25vh) scale(0.64);
  }
  4.34783% {
    transform: translateX(2vw) translateY(12vh) scale(0.32);
  }
  8.69565% {
    transform: translateX(-40vw) translateY(-13vh) scale(0.41);
  }
  13.04348% {
    transform: translateX(-27vw) translateY(45vh) scale(0.53);
  }
  17.3913% {
    transform: translateX(-49vw) translateY(21vh) scale(0.95);
  }
  21.73913% {
    transform: translateX(14vw) translateY(29vh) scale(0.9);
  }
  26.08696% {
    transform: translateX(43vw) translateY(-20vh) scale(0.5);
  }
  30.43478% {
    transform: translateX(-29vw) translateY(-3vh) scale(0.61);
  }
  34.78261% {
    transform: translateX(8vw) translateY(-1vh) scale(0.68);
  }
  39.13043% {
    transform: translateX(-38vw) translateY(-3vh) scale(0.28);
  }
  43.47826% {
    transform: translateX(44vw) translateY(-3vh) scale(0.88);
  }
  47.82609% {
    transform: translateX(19vw) translateY(-11vh) scale(0.55);
  }
  52.17391% {
    transform: translateX(14vw) translateY(27vh) scale(0.82);
  }
  56.52174% {
    transform: translateX(6vw) translateY(-11vh) scale(0.99);
  }
  60.86957% {
    transform: translateX(9vw) translateY(31vh) scale(0.26);
  }
  65.21739% {
    transform: translateX(3vw) translateY(1vh) scale(0.85);
  }
  69.56522% {
    transform: translateX(11vw) translateY(31vh) scale(0.26);
  }
  73.91304% {
    transform: translateX(16vw) translateY(-49vh) scale(0.43);
  }
  78.26087% {
    transform: translateX(8vw) translateY(14vh) scale(0.83);
  }
  82.6087% {
    transform: translateX(-12vw) translateY(-48vh) scale(0.26);
  }
  86.95652% {
    transform: translateX(-48vw) translateY(-21vh) scale(0.48);
  }
  91.30435% {
    transform: translateX(-28vw) translateY(43vh) scale(1);
  }
  95.65217% {
    transform: translateX(11vw) translateY(20vh) scale(0.33);
  }
  100% {
    transform: translateX(13vw) translateY(-19vh) scale(0.48);
  }
}

.firefly:nth-child(14) {
  animation-name: move14;
}

.firefly:nth-child(14)::before {
  animation-duration: 17s;
}

.firefly:nth-child(14)::after {
  animation-duration: 17s, 6787ms;
  animation-delay: 0ms, 8267ms;
}

@keyframes move14 {
  0% {
    transform: translateX(-15vw) translateY(14vh) scale(0.72);
  }
  4.34783% {
    transform: translateX(-7vw) translateY(31vh) scale(0.83);
  }
  8.69565% {
    transform: translateX(40vw) translateY(18vh) scale(0.43);
  }
  13.04348% {
    transform: translateX(-22vw) translateY(-33vh) scale(0.93);
  }
  17.3913% {
    transform: translateX(44vw) translateY(-6vh) scale(0.37);
  }
  21.73913% {
    transform: translateX(-23vw) translateY(-42vh) scale(0.98);
  }
  26.08696% {
    transform: translateX(-39vw) translateY(12vh) scale(0.47);
  }
  30.43478% {
    transform: translateX(41vw) translateY(47vh) scale(0.56);
  }
  34.78261% {
    transform: translateX(22vw) translateY(-34vh) scale(0.94);
  }
  39.13043% {
    transform: translateX(-47vw) translateY(-22vh) scale(0.63);
  }
  43.47826% {
    transform: translateX(-30vw) translateY(16vh) scale(0.62);
  }
  47.82609% {
    transform: translateX(-42vw) translateY(-26vh) scale(0.35);
  }
  52.17391% {
    transform: translateX(-7vw) translateY(43vh) scale(0.76);
  }
  56.52174% {
    transform: translateX(16vw) translateY(-37vh) scale(0.99);
  }
  60.86957% {
    transform: translateX(-38vw) translateY(-42vh) scale(0.68);
  }
  65.21739% {
    transform: translateX(39vw) translateY(-41vh) scale(0.27);
  }
  69.56522% {
    transform: translateX(-27vw) translateY(28vh) scale(0.39);
  }
  73.91304% {
    transform: translateX(-41vw) translateY(-48vh) scale(0.98);
  }
  78.26087% {
    transform: translateX(-48vw) translateY(-31vh) scale(0.37);
  }
  82.6087% {
    transform: translateX(-31vw) translateY(-45vh) scale(0.53);
  }
  86.95652% {
    transform: translateX(48vw) translateY(13vh) scale(0.37);
  }
  91.30435% {
    transform: translateX(39vw) translateY(-38vh) scale(0.97);
  }
  95.65217% {
    transform: translateX(-40vw) translateY(-31vh) scale(0.73);
  }
  100% {
    transform: translateX(-39vw) translateY(25vh) scale(0.99);
  }
}

.firefly:nth-child(15) {
  animation-name: move15;
}

.firefly:nth-child(15)::before {
  animation-duration: 13s;
}

.firefly:nth-child(15)::after {
  animation-duration: 13s, 10152ms;
  animation-delay: 0ms, 8074ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-7vw) translateY(33vh) scale(0.36);
  }
  3.84615% {
    transform: translateX(5vw) translateY(35vh) scale(0.29);
  }
  7.69231% {
    transform: translateX(35vw) translateY(12vh) scale(0.86);
  }
  11.53846% {
    transform: translateX(-38vw) translateY(18vh) scale(0.75);
  }
  15.38462% {
    transform: translateX(35vw) translateY(41vh) scale(0.27);
  }
  19.23077% {
    transform: translateX(-15vw) translateY(-34vh) scale(0.44);
  }
  23.07692% {
    transform: translateX(-2vw) translateY(-49vh) scale(0.67);
  }
  26.92308% {
    transform: translateX(-34vw) translateY(39vh) scale(0.32);
  }
  30.76923% {
    transform: translateX(41vw) translateY(-19vh) scale(0.54);
  }
  34.61538% {
    transform: translateX(50vw) translateY(-48vh) scale(0.82);
  }
  38.46154% {
    transform: translateX(-43vw) translateY(-12vh) scale(0.68);
  }
  42.30769% {
    transform: translateX(-13vw) translateY(17vh) scale(0.46);
  }
  46.15385% {
    transform: translateX(-15vw) translateY(32vh) scale(0.58);
  }
  50% {
    transform: translateX(16vw) translateY(-4vh) scale(0.91);
  }
  53.84615% {
    transform: translateX(-34vw) translateY(37vh) scale(0.28);
  }
  57.69231% {
    transform: translateX(-9vw) translateY(-8vh) scale(0.61);
  }
  61.53846% {
    transform: translateX(-25vw) translateY(50vh) scale(0.56);
  }
  65.38462% {
    transform: translateX(-31vw) translateY(35vh) scale(0.68);
  }
  69.23077% {
    transform: translateX(-7vw) translateY(-38vh) scale(0.71);
  }
  73.07692% {
    transform: translateX(-1vw) translateY(10vh) scale(0.61);
  }
  76.92308% {
    transform: translateX(15vw) translateY(-18vh) scale(0.71);
  }
  80.76923% {
    transform: translateX(19vw) translateY(-16vh) scale(0.93);
  }
  84.61538% {
    transform: translateX(-13vw) translateY(-46vh) scale(0.99);
  }
  88.46154% {
    transform: translateX(47vw) translateY(-23vh) scale(0.96);
  }
  92.30769% {
    transform: translateX(-15vw) translateY(16vh) scale(0.7);
  }
  96.15385% {
    transform: translateX(-41vw) translateY(9vh) scale(0.47);
  }
  100% {
    transform: translateX(-38vw) translateY(-12vh) scale(0.73);
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}


/* ROAD MAP */
.roadmap{
  background-color: #07080D;
  color: #fff;
}

.roadmap-title{
  font-size: 50px;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0 0 2px rgb(255 255 255 / 70%), 0 0 1px rgb(255 255 255 / 70%), 0 0 1px rgb(255 255 255 / 70%), 0 0 1px #41d7f1b8, 0 0 1px #41d7f1b8, 0 0 8px #41d7f1b8, 0 0 12px #41d7f1b8, 0 0 13px #41d7f1b8;
}

.roadmap-block-img{
  height: 200px;
  overflow: hidden;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap-block{
  display: flex;
  justify-content: space-between;
  /* transform: translateX(-4vw); */
}

.roadmap-content{
  width: 80vw;
  margin-top: 10vh;
}

.roadmap-block-item{
  width: 14.2888%;
}

.roadmap-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roadmap-block-top .roadmap-block-text{
    justify-content: end;
}

.roadmap-block-bottom .roadmap-block-text{
    justify-content: start;
}

.roadmap-block-text span{
    text-align: center;
    font-size: 14px;
    font-family: 'Formular', sans-serif;
}

/* ANIMATION UPDATE*/
#thunder {
  position:relative;
  width:100%;
  height:431px;
  display:flex;
  align-items:center;
  justify-content:center;
}

#thunder_css {
  width:300px;
  height:300px;
  border-radius:100%;
  background-color: #20e1f61d;
  box-shadow:0px 0px 50px #20E2F6, 0px 0px 60px #10b5fc,
    inset 0px 0px 50px #20E2F6, inset 0px 0px 60px #10b5fc;
}

svg {
  position:absolute;
  left:0px;
  height: 100%;
  width: 100%;
  /* top:50%; */
  filter: drop-shadow( 0px 0px 5px #1EDAF6 ) 
    drop-shadow( 0px 0px 10px #20E2F6 ) 
    drop-shadow(0px 0px 10px #20E2F6);
}

svg[id="thunder_svg1"] {
  animation: rotate 20s linear infinite reverse;
}

svg[id="thunder_svg2"] {
  animation: rotate 20s linear infinite reverse;
  animation-delay:2s;
}

svg[id="thunder_svg1"] path {
  animation: dash 20s linear infinite alternate;
}

svg[id="thunder_svg2"] path {
  animation: dash 20s linear infinite alternate;
}



@keyframes dash {
  from {
    stroke-dashoffset: 500;
    /* //stroke-dasharray: 100; */
      stroke-dasharray: 50 100;
  }
  to {
    stroke-dashoffset: 500;
    /* //stroke-dasharray: 0 300; */
    stroke-dasharray: 131 440;
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro .primary-charac{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.wrapper-thunder {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%);
}


.fire {
    font-size: 18px;
    filter: blur(0.02em);
    -webkit-filter: blur(0.02em);
    margin: 3em auto 0 auto;
    width: 7em;
    height: 5em;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    position: absolute;
    transform: translate(-50%, -100%);
    top:30%;left:51%;margin:auto;
}

.show > .particle {
    animation: rise 1s ease-in infinite;
    background-image: radial-gradient(#ff5000 20%, rgba(255, 80, 0, 0) 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 5em;
    height: 5em;
}
.particle:nth-of-type(1) {
    animation-delay: 0.7667885121s;
    left: calc((100% - 5em) * 0);
}
.particle:nth-of-type(2) {
    animation-delay: 0.4314109581s;
    left: calc((100% - 5em) * 0.02);
}
.particle:nth-of-type(3) {
  animation-delay: 0.9143955654s;
  left: calc((100% - 5em) * 0.04);
}
.particle:nth-of-type(4) {
  animation-delay: 0.7688711068s;
  left: calc((100% - 5em) * 0.06);
}
.particle:nth-of-type(5) {
  animation-delay: 0.5797755395s;
  left: calc((100% - 5em) * 0.08);
}
.particle:nth-of-type(6) {
  animation-delay: 0.8835288208s;
  left: calc((100% - 5em) * 0.1);
}
.particle:nth-of-type(7) {
  animation-delay: 0.0194394883s;
  left: calc((100% - 5em) * 0.12);
}
.particle:nth-of-type(8) {
  animation-delay: 0.8332120508s;
  left: calc((100% - 5em) * 0.14);
}
.particle:nth-of-type(9) {
  animation-delay: 0.9424995631s;
  left: calc((100% - 5em) * 0.16);
}
.particle:nth-of-type(10) {
  animation-delay: 0.3047394182s;
  left: calc((100% - 5em) * 0.18);
}
.particle:nth-of-type(11) {
  animation-delay: 0.2612504741s;
  left: calc((100% - 5em) * 0.2);
}
.particle:nth-of-type(12) {
  animation-delay: 0.7600046395s;
  left: calc((100% - 5em) * 0.22);
}
.particle:nth-of-type(13) {
  animation-delay: 0.5877520459s;
  left: calc((100% - 5em) * 0.24);
}
.particle:nth-of-type(14) {
  animation-delay: 0.0341103174s;
  left: calc((100% - 5em) * 0.26);
}
.particle:nth-of-type(15) {
  animation-delay: 0.381638116s;
  left: calc((100% - 5em) * 0.28);
}
.particle:nth-of-type(16) {
  animation-delay: 0.4663185892s;
  left: calc((100% - 5em) * 0.3);
}
.particle:nth-of-type(17) {
  animation-delay: 0.2768526698s;
  left: calc((100% - 5em) * 0.32);
}
.particle:nth-of-type(18) {
  animation-delay: 0.8712053259s;
  left: calc((100% - 5em) * 0.34);
}
.particle:nth-of-type(19) {
  animation-delay: 0.853185074s;
  left: calc((100% - 5em) * 0.36);
}
.particle:nth-of-type(20) {
  animation-delay: 0.6456051802s;
  left: calc((100% - 5em) * 0.38);
}
.particle:nth-of-type(21) {
  animation-delay: 0.4463345638s;
  left: calc((100% - 5em) * 0.4);
}
.particle:nth-of-type(22) {
  animation-delay: 0.1518978348s;
  left: calc((100% - 5em) * 0.42);
}
.particle:nth-of-type(23) {
  animation-delay: 0.0961532455s;
  left: calc((100% - 5em) * 0.44);
}
.particle:nth-of-type(24) {
  animation-delay: 0.3111806622s;
  left: calc((100% - 5em) * 0.46);
}
.particle:nth-of-type(25) {
  animation-delay: 0.0370398768s;
  left: calc((100% - 5em) * 0.48);
}
.particle:nth-of-type(26) {
  animation-delay: 0.5539836525s;
  left: calc((100% - 5em) * 0.5);
}
.particle:nth-of-type(27) {
  animation-delay: 0.8261367121s;
  left: calc((100% - 5em) * 0.52);
}
.particle:nth-of-type(28) {
  animation-delay: 0.7246517155s;
  left: calc((100% - 5em) * 0.54);
}
.particle:nth-of-type(29) {
  animation-delay: 0.0319690386s;
  left: calc((100% - 5em) * 0.56);
}
.particle:nth-of-type(30) {
  animation-delay: 0.8466870846s;
  left: calc((100% - 5em) * 0.58);
}
.particle:nth-of-type(31) {
  animation-delay: 0.4815291732s;
  left: calc((100% - 5em) * 0.6);
}
.particle:nth-of-type(32) {
  animation-delay: 0.174255662s;
  left: calc((100% - 5em) * 0.62);
}
.particle:nth-of-type(33) {
  animation-delay: 0.3291938078s;
  left: calc((100% - 5em) * 0.64);
}
.particle:nth-of-type(34) {
  animation-delay: 0.9407468797s;
  left: calc((100% - 5em) * 0.66);
}
.particle:nth-of-type(35) {
  animation-delay: 0.3793405345s;
  left: calc((100% - 5em) * 0.68);
}
.particle:nth-of-type(36) {
  animation-delay: 0.1878510918s;
  left: calc((100% - 5em) * 0.7);
}
.particle:nth-of-type(37) {
  animation-delay: 0.3429490256s;
  left: calc((100% - 5em) * 0.72);
}
.particle:nth-of-type(38) {
  animation-delay: 0.3426395074s;
  left: calc((100% - 5em) * 0.74);
}
.particle:nth-of-type(39) {
  animation-delay: 0.94306299s;
  left: calc((100% - 5em) * 0.76);
}
.particle:nth-of-type(40) {
  animation-delay: 0.0275678992s;
  left: calc((100% - 5em) * 0.78);
}
.particle:nth-of-type(41) {
  animation-delay: 0.8935415112s;
  left: calc((100% - 5em) * 0.8);
}
.particle:nth-of-type(42) {
  animation-delay: 0.9769297806s;
  left: calc((100% - 5em) * 0.82);
}
.particle:nth-of-type(43) {
  animation-delay: 0.9282807782s;
  left: calc((100% - 5em) * 0.84);
}
.particle:nth-of-type(44) {
  animation-delay: 0.0588884591s;
  left: calc((100% - 5em) * 0.86);
}
.particle:nth-of-type(45) {
  animation-delay: 0.7300788196s;
  left: calc((100% - 5em) * 0.88);
}
.particle:nth-of-type(46) {
  animation-delay: 0.3747061803s;
  left: calc((100% - 5em) * 0.9);
}
.particle:nth-of-type(47) {
  animation-delay: 0.6871539928s;
  left: calc((100% - 5em) * 0.92);
}
.particle:nth-of-type(48) {
  animation-delay: 0.0539836887s;
  left: calc((100% - 5em) * 0.94);
}
.particle:nth-of-type(49) {
  animation-delay: 0.6202439399s;
  left: calc((100% - 5em) * 0.96);
}
.particle:nth-of-type(50) {
  animation-delay: 0.0446242261s;
  left: calc((100% - 5em) * 0.98);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}

.wrapper-fire{
    position: absolute;
    top: 74.8%;
    left: 49%;
    width: 10%;
    transform: scale(0.3);
    transition: all 0.3s ease-out;
}

.matches .primary-charac{
    position: relative;
}

.matches .primary-charac:hover .wrapper-fire{
    transform: scale(0.6);
}

.roadmap-center{
    position: relative;
}

.roadmap-child{
    position: absolute;
    animation: glow-lava-hole 1.6s infinite alternate-reverse;
}

.roadmap-center-horizontal .roadmap-child--1{
    top: 53%;
    left: 1%;
}
.roadmap-center-horizontal .roadmap-child--2{
    top: 53%;
    left: 16%;
    animation-delay: 0.4s;
}
.roadmap-center-horizontal .roadmap-child--3{
    top: 53%;
    left: 30.9%;
     animation-delay: 0.6s;
}
.roadmap-center-horizontal .roadmap-child--4{
    top: 53%;
    left: 45.9%;
     animation-delay: 0.8s;
}
.roadmap-center-horizontal .roadmap-child--5{
    top: 53%;
    right: 40.1%;
     animation-delay: 1s;
}
.roadmap-center-horizontal .roadmap-child--6{
    top: 53%;
    right: 26%;
     animation-delay: 1.2s;
}
.roadmap-center-horizontal .roadmap-child--7{
    top: 53%;
    right: 11.8%;
     animation-delay: 1.4s;
}

.roadmap-center-vertical .roadmap-child--1{
    top: 1.2%;
    left: 28%;
}
.roadmap-center-vertical .roadmap-child--2{
    top: 16%;
    left: 28%;
    animation-delay: 0.4s;
}
.roadmap-center-vertical .roadmap-child--3{
    top: 31%;
    left: 28%;
    animation-delay: 0.6s;
}
.roadmap-center-vertical .roadmap-child--4{
    top: 45.4%;
    left: 28%;
    animation-delay: 0.8s;
}
.roadmap-center-vertical .roadmap-child--5{
    top: 60%;
    right: 27%;
    animation-delay: 1s;
}
.roadmap-center-vertical .roadmap-child--6{
    top: 74%;
    right: 30%;
    animation-delay: 1.2s;
}
.roadmap-center-vertical .roadmap-child--7{
    top: 88%;
    right: 29%;
    animation-delay: 1.4s;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }

    .firefly {
      width: 1.5vw;
      height: 1.5vw;
    }

    #thunder{
        height: unset;
        transform: scale(0.7);
    }

    #thunder svg{
        width: 100%;
    }

    .roadmap-content{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        padding: 10px 20px;
        margin-top: 1vh;
    }

    .roadmap-block{
        flex-direction: column;
        width: 45%;
        height: 70vh;
        transform: translateX(0);
    }

    .roadmap-center{
        width: 3vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 0;
    }

    .roadmap-title{
        font-size: 28px;
        margin-top: 6vh;
    }

    .roadmap-block-img{
        height: unset;
    }

    .roadmap-block-item{
        width: 100%;
    }

    .roadmap-block-item img{
        height: 70px;
        width: auto;
    }

    .roadmap-block-text span{
        font-size: 12px;
    }

    .main-content-wrapper .primary-title{
        color: #fff6a9;
        font-size: 18px;
        text-shadow: 0 0 5px #ffa500, 0 0 5px #ffa500, 0 0 6px #ffa500, 0 0 6px #ffa500, 0 0 8px #ff0000, 0 0 10px #ff8d00, 0 0 10px #ff0000;
        position: relative;
        animation: animate 10s ease-in-out infinite;
    }
    @keyframes animate{
        20%, 24%, 55%{
            text-shadow: 0 0 1px #ffa60093, 0 0 2px #ffa60093, 0 0 2px #ffa60093, 0 0 2px #ffa60093, 0 0 3px #ff00009b, 0 0 3px #ffa60093, 0 0 4px #ff00009b;
        }
        0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
            color: #fff6a9;
            text-shadow: 0 0 5px #ffa500, 0 0 5px #ffa500, 0 0 6px #ffa500, 0 0 6px #ffa500, 0 0 8px #ff0000, 0 0 10px #ff8d00, 0 0 10px #ff0000;
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .roadmap-block-item img{
        height: 13vh;
    }

    .intro .paragraph{
        margin-bottom: 7vh;
    }

    #thunder {
        transform: scale(1.3);
    }

    
}
  

@keyframes roadmap-child {
  0% { 
    filter: drop-shadow(0 0 8px #fff);
  }
  
  100% { 
    filter: drop-shadow(0 0 60px #1A69B5);
  }
}

@keyframes glow-lava-hole {
  0% {
        /* box-shadow:
            0 0 1px 1px #15bbee3b,
            0 0 2px 2px #15bbee3b,
            0 0 3px 3px #15bbee3b; */
    }

    100%{
        box-shadow:
            0 0 1px 1px #15bbee4a,
            0 0 15px 15px #15bbee4a,
            0 0 25px 25px #15bbee4a;
    }
}

@keyframes glow-in {
  from { opacity: 0; }
  65% {
    opacity: 1;
    text-shadow: 0 0 20px white;
  }
  75% {
    opacity: 1;
  }
  to { opacity: 0.7; }
}

.glow-in{
  animation: glow-in .5s both;
}